{% extends 'base.html' %}

{% block content %}

    <div id="zadnjiClanki"  class="row" uk-grid>
    </div>

    <script type = "text/javascript">
        makeNavigationLinkActive('novice_page')
    </script>

    {% for zadnji_clanek in zadnji_clanki %}
        <script type = "text/javascript">
            addZadnjiClanek("{{ zadnji_clanek['image1smaller'] }}", "{{ zadnji_clanek['subtitle'] }}", "{{ zadnji_clanek['id'] }}", "{{ zadnji_clanek['title'] }}")
        </script>
    {% endfor %}

{% endblock %}